# How To Build ANN Percepton Classifier for iris dataset with Scikit-learn

# Step 1: Import the basic libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt

# Import all the necessary libraries for classification
In this case we need sklearn Perceptron which is in linear models group, we need the train split function which is in the metrics group and we need pandas
Step 1:
Step2

Pandas library for handling of data in column and row formart together with retrieving and editing the dataset

In [2]:
from sklearn.linear_model import Perceptron
# from sklearn.neural_network import MLPClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

# Step 2: Load the dataset to the platform

The Pandas library has an easy way to load in data, read_csv():

Ensure that you have saved the data file in the same folder as the code. Also ensure it is in CSV format.

NOTE that sklearn has several datasets including iris which is inbuild and has a different way of loading, but for this class we will stick to loading data from an external source which has been downloaded and saved in the same folder as the code

In [3]:
iris = pd.read_csv("iris.csv")

In ordervto view the data, how they are arranged we can use the head() function which shows the first 5 rows of data. To see the last five we use iris.head(-5)

In [4]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris.Species.unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [6]:
iris.count()

Id               150
SepalLengthCm    150
SepalWidthCm     150
PetalLengthCm    150
PetalWidthCm     150
Species          150
dtype: int64

# Step 3: Preprocessing (Optional)

This is an important step but can be optional if the dataset you are using is already cleaned. It is also called data cleaning. 
IN our example we dont need the firt column, the ID column. In some other cases the data presented is already processed.

One thing we may want to do though it drop the "ID" column, as it is just a representation of row the example is found on.
As this isn't helpful we could drop it from the dataset using the drop() function:

In [7]:
iris.drop('Id', axis=1, inplace=True)

In [8]:
iris.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

# Step 4: Define the inputs and outputs

We now need to define the features(inputs) and labels(outputs). We can do this easily with pandas by slicing the data table and choosing certain rows/columns.

**input/features** are those characteristics of the data that determines the class that they belong e.g color, lenght, weight etc

**output** is the class that they belong e.g positive/negative, 0/1, hot/cold, present/absent etc

You can achieve this by naming all the column names within a double square parenthesis.

Another way to do this using **iloc()**

In [9]:
# Let's tell the dataframe which column we want for the imputs/features.  
inputs = iris[['SepalLengthCm','SepalWidthCm','PetalLengthCm','PetalWidthCm']]

# Let's tell the dataframe which column we want for the target/labels/output.  
output = iris['Species']

In [10]:
inputs.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [11]:
output.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

# Step 5: Split the data to training and testing sets. 
Remember the default percentage is 80% for training and 20% for testing but you can change the percentages using test_size

Assign the split data into diffent arrays

In [12]:
train_input, test_input, train_output, test_output = train_test_split(inputs, output,test_size=0.2)

# Step 6: Create a Percepron Model
Specify the iterations(epoch) the state etc. You can refer to 
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.Perceptron.html#sklearn.linear_model.Perceptron


for all the parameters than can be specified when calling Percepron class

In [13]:
Perceptron_model =Perceptron(random_state=42, max_iter=10000,tol=0.001)

# Step 6: Fit the model

In [14]:
Perceptron_model.fit(train_input, train_output)

Perceptron(max_iter=10000, random_state=42)

# Step 7: Measure the acuuracy

There are different ways of measurung the perfomance of your model, including the confusion matrix etc.
We use the simplest here

In [15]:
print(accuracy_score,Perceptron_model.fit(train_input, train_output))

<function accuracy_score at 0x7f96ea351940> Perceptron(max_iter=10000, random_state=42)

# Step 8: Predict a the test data to check if your model is getting it correct

Using the array of true class labels, we can evaluate the accuracy of our model’s predicted values by comparing the two arrays (test_output vs. preds). We will use the sklearn function  accuracy_score() to determine the accuracy of our machine learning classifier.

In [16]:
preds = Perceptron_model.predict(test_input)

# Evaluate accuracy
print(accuracy_score(test_output, preds))

0.7

In [17]:
preds

array(['Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-virginica', 'Iris-virginica',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-virginica',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-virginica', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor',
       'Iris-versicolor', 'Iris-versicolor', 'Iris-versicolor'],
      dtype='<U15')